@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Roboto;
}

html{
    background-color: #352E1C;
}

body {
    width: 960px;
    height: 100%;
    margin: 0px auto;
    background-color: #EBEEE0;
    font-family: Roboto;
}

header{
    background-color: #EBEEE0;
}

.about p {
    padding: 0px 60px 0px 60px;
    text-align: justify;
}

.vabout p {
    padding: 0px 60px 0px 60px;
    text-align: justify;
}

p, h1{
    text-align: justify;
    color: #352E1C
}

header a{
    text-decoration: none;
    font-style: italic;
    font-size: 24px;
    color: #352E1C;
}

h3 {
    font-size: 25px;
    text-align: center;
}

h4 {
    text-align: center;
}
 
.about{
    padding: 60px 0 100px 0;
    height: 340px;
}

.vabout{
    padding: 0 0 0 0;
    height: 200px;
}

.interviews{
    padding: 30px 0 30px 0;
    height: 450px;
}



.career{
    padding: 60px 60px 100px 60px;
}

.career p{
    padding: 5px 0 5px 0;
}

.career li{
    padding: 5px 0 5px 0;
}

.volent{
    padding: 60px 60px 100px 60px;
    
}

.involvement{
    padding: 0 60px 100px 60px;

}

.involvetop{
    padding: 50px 60px 0px 60px;

}

.involvetop p{
    padding-bottom: 20px;

}

.Vinvolvement{
    padding: 200px 60px 100px 60px;
}


.biography{
    margin-top: 60px;
}
.quote {
    margin-top: 100px;
    font-style: italic;
}

/* Top image */
.topper{
    width: 960px;
}

/* Body shot image */
.headspace{
    width: 360px;
    min-height: 200px;
    float: left;
    padding: 0px 60px 0px 60px;
}


.card{
    width: 360px;
    height: 450px;
    float: left;
    padding: 0px 60px 0px 60px;
}

.logoimg{
    width: 360px;
    height: 250px;
    float: left;
    padding: 0px 60px 0px 60px;
}

.icon{
    width: 75px;
    height: 75px;
    padding: 0px 60px 40px 60px;
}

.headshot{
    width: 360px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.voulogo{
    width: 300px;

}

.logo {
    width: 260px;
}

/* START DROPDOWN HEADER */

.dropbtn {
    background-color: #EBEEE0;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    margin: 0 12px 0 12px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    font-size: 20px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropbtn:hover {
      background-color: #D8D9D0;
      transition: 200ms;
    }

  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: ;}